<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.fdm.controller.IndexController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.fdm.controller.LoginController</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>InjectionAttackFilter</filter-name>
		<filter-class>com.fdm.filter.InjectionAttackFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>InjectionAttackFilter</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>BlockedServlet</servlet-name>
		<servlet-class>com.fdm.controller.BlockedController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>BlockedServlet</servlet-name>
		<!-- any request to the '/blocked' url will show the blocked.jsp page, this may not be desirable. You might 
		only want to show them the blocked page if they fail your logic, not if they request it -->
		<url-pattern>/blocked</url-pattern>
	</servlet-mapping>
	
	<listener>
	<listener-class>com.fdm.listner.ApplicationContextListner</listener-class>
	</listener>
	
</web-app>